<!--

<!doctype html>
<html lang = "en" dir = "rtl">
    <head>
        <meta charset="utf-8">
        <title>about</title>
    </head>
        <body style="background-image:url(body-bg39.png)">
        <h1 style = "color: red">درباره ما </h1>
        <h2> با ما در ارتباط باشید با راه های ارتباطی زیر:</h2>
        <p> شماره تماس : 0413-1234567 </p>
        <p>آی دی اینستاگرام : pooyakala@ </p>
        <p>کانال تلگرامی : pooyakala@ </p>
        <h2 style="color: red"> پاسخگویی 24 ساعته</h2>
    </body>
</html>
-->

<!doctype html>
<html dir="rtl">
<head>
<meta http-equiv="content-type" content="text/html" charset="utf-8">
<title>سلام بر ابراهیم</title>
<link rel="shortcut icon" href="images (1).jfif">
</head>

<body style="background-image:url(body-bg39.png)">

<section style="background-color:#DCD2D2">
<br>
<h1 style="border-color:#BD1518">بسم الله الرحمن الرحیم</h1>

<marquee behavior="alternate" direction="left">
&hearts;سلام بر ابراهیم&hearts;
</marquee>
<!--
<table border="1"  >
  <tr>
    <th colspan="4">سایر انتشارات گروه فرهنگی ابراهیم هادی</th>
  </tr>
  
    <td>شهدا</td>
    <td>سلام بر ابراهیم 1</td>
    <td>سلام بر ابراهیم 2</td>
    <td>خدای خوب ابراهیم</td>
  </tr>
  <tr>
    <td>رمان</td>s
    <td>قلبهای کوچک نارنجی</td>
    <td>ملت عشق</td>
    <td> رنج مقدس</td>
  </tr>
</table>
-->
<span id="list"></span>
<ul>
  <li><a href="zpzohal@gmail.com">ارسال ایمیل</li>
  <li><a href="#1">زندگی نامه</a></li>
  <li><a href="#2">عکس</a></li>
  <li><a href="#3">خاطرات</a></li>
  <li><a href="#4">ویدئو</a></li>
</ul>
<hr>
</section>
<br>


<h3 id="1">زندگی نامه</h3>
<section style="background-color:#E9E99A">
<br>
یکم اردیبهشت ماه سال 1336 در تهران متولد شده است. نامش را زیاد شنیده بودم و حالا زمان آن رسیده بود که این شهید را بیشتر بشناسم. 37 سال از شهادت شهید «ابراهیم هادی» می گذرد؛ پهلوان بی مزار و فرمانده گردان کمیل از لشکر محمد رسول الله (ص) که آرزوی گمنامی داشت و اگر امروز در این دیار نفس می کشید، شصت و یکمین سالروز ولادتش را جشن می گرفت.

در گفت و گو با خواهر شهید ابراهیم هادی، از ابتدا جذب عشق بی انتهای یک خواهر به برادر شهیدش شدم که حتی پس از گذشت 37 سال او را با لحنی، «ابراهیم» خطاب می کند که گویی حضور شهید در زندگی اش جریان دارد و هر لحظه اش با یاد و توسل به پاکی برادر شهیدش گره خورده است. حس غرور به داشتن برادری چون ابراهیم در صدایش موج می زند؛ مگر می شود خواهر شهید باشی آن هم از جنس پهلوان «ابراهیم» و بر خود نبالی!
<br>
<br>
<a href="#list">اول صفحه</a>
<br>
<br>
</section>
 <br>
 

<h3 id="2">عکس</h3>
<section style="background-color:#E9E99A">
<br>
<p style="color:#F50000">&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;</p>

<img src="download.jfif" alt="ابراهیم 1">
<br>
<p style="color:#F50000">&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;</p>

<img src="images (2).jfif" >
<br>
<p style="color:#F50000">&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;</p>

<img src="images.jfif">
<p style="color:#F50000">&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;</p>

<a href="#list">اول صفحه</a>
</section>
<br>


<h3 id="3">خاطرات</h3>
<section style="background-color:#E9E99A">
<br>
<p>
<h5>کارنامه شهدا دست خداست</h5>


خواهر شهید هادی می گوید: گاهی از من سوال می شود که چرا شهید «ابراهیم هادی» به این اندازه مورد توجه قرار گرفت؟ جواب این سوال روشن است. خداوند شهدا را انتخاب می کند. امروز شهدای مدافع حرم قدم در مسیر شهدای دفاع مقدس گذاشته اند. برای نمونه شهید محسن حججی که او نیز 25 سال بیشتر نداشت، به آغوش باز و رضایت خانواده به استقبال شهادت می رود و در عرض 2 روز تمام دنیا را تکان می دهد.


امروز، زمان تکرار شده است و اگرچه بعضی ها هنوز هم نسبت به شهدا و خلوص نیت آنها ناآگاهی دارند و حرف های نادرستی درباره شهدا به ویژه شهدای مدافع حرم می زنند اما شهدایی همچون شهید حججی با شهامت و شهادت خود به ابهام های آنها پاسخ می دهند. در میان شهدای مدافع حرم، شهیدان دیگری نیز هستند که شاید سخت تر و جانکاه تر از شهید حججی به شهادت رسیده باشند و پیکرشان مفقودالاثر شده باشد اما شهدا را خدا بزرگ می کند و کارنامه آنها دست خداست.</p>
<a href="#list">اول صفحه</a>
<br>
</section>
<br>


<h3 id="4">ویدئو</h3>
 <section style="background-color:#E9E99A">
 <br>
<a href="#list">اول صفحه</a>
<br>
</section>
<br>
<p style="color:#F50000">&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;&hearts;</p>
<br>
</body>
</html>
