{% load static %}/
<!doctype html>
<html lang = "en" dir = "rtl">
    <head>
        <meta charset="utf-8">
        <title>about</title>
         <link rel = "stylesheet" href = "{% static 'styles.css'%}">
    </head>
        <body>
        <h1 style = "color: red">درباره ما </h1>
        <h2> با ما در ارتباط باشید با راه های ارتباطی زیر:</h2>
        <p> شماره تماس : 0413-1234567 </p>
        <p>آی دی اینستاگرام : pooyakala@ </p>
        <p>کانال تلگرامی : pooyakala@ </p>
        <h2 style="color: red"> پاسخگویی 24 ساعته</h2>
    </body>
</html>